 <html ng-app="app">

<head>
	<title>Employee Details</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services/http.service.js"></script>
	<script src="js/employee.controller.js"></script>
</head>

<body ng-controller="employeeController">
	<div class="row">
		<div class="col-md-3">
			<label>Employee Name</label>
			<input class="form-control" placeholder="Employee Name" ng-model="employee.name" />
		</div>
		<div class="col-md-3">
			<label>Department Id</label>
			<input type="number" class="form-control" placeholder="Department Id" ng-model="employee.departmentId" />
		</div>
		<div class="col-md-3"><button class="btn" ng-click="create()">{{actionLabel}}</button></div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>Country</label>
			<select class="form-control" ng-model="employee.country" ng-change="setStates(employee.country)">
				<option ng-repeat="country in countryList" value="{{country.country}}">
					{{country.country}}
				</option>
			</select>
		</div>
		<div class="col-md-3">
			<label>State</label>
			<select class="form-control" ng-model="employee.state">
				<option ng-repeat="state in stateList" value="{{state}}">
					{{state}}
				</option>
 			</select></div>
	</div>
	<div class="section">
		<h3>{{headingTitle}}</h3>
		<div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Employee Id </th>
						<th>Employee Name</th>
						<th>Department Id</th>
						<th>Country</th>
						<th>State</th>
						<!-- <th>Actions</th> -->
					</tr>
				</thead>
				<tbody ng-repeat="employee in employeeList">
					<tr>
						<td>{{employee.id}}</td>
						<td>{{employee.name}}</td>
						<td>{{employee.departmentId}}</td>
						<td>{{employee.country}}</td>
						<td>{{employee.state}}</td>
						<!-- <td><button class="btn">Edit</button>&nbsp;<button class="btn btn-danger">Delete</button></td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>